<div class="flex h-screen">
  <div class="m-auto">
    <h1 class="text-6xl font-bold text-blue-700">Welcome to Gullsy. Caw Caw!</h1>  
    <h2 class="text-3xl font-semibold text-blue-500">A Ruby on Rails App, Similar to That Other Crazy Bird App :)</h2> 
  
    <div class="flex justify-center space-x-1">      
      <button class="my-4 px-4 py-3 text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-blue-600 rounded-md cursor-pointer hover:bg-blue-800"><%= link_to "Sign Up", "#" %></button>  
      
      <button class="my-4 px-4 py-3 text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out bg-blue-600 rounded-md cursor-pointer hover:bg-blue-800"><%= link_to "Login", "#" %></button>       
    </div>          
  </div> 
</div>

