<div class="flex justify-between items-center py-4 bg-blue-500">
  <div class="ml-10 text-4xl text-white font-semibold"><%= link_to "Gullsy", root_path %></div>  
  <ul class="hidden md:flex overflow-x-hidden mr-10 font-semibold">
    <li class="mr-6 p-1 border-b-2 border-white-500">
      <%= link_to "Home", "#", class: "text-blue-100 cursor-default"%>      
    </li>
    <li class="mr-6 p-1">
      <%= link_to "Login", "#", class: "text-white hover:text-blue-300" %>      
    </li>    
  </ul>
</div>
